* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100vh;
    background: #151515;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    height: 309px;
    margin-top: 84px;
    background: #202020;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    /* justify-content: center; */
}

h1 {
    font-family: 'Poppins';
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 32px;
}

.inputContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 24px;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    height: 72px;
}

label {
    line-height: 24px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

input {
    height: 48px;
    background: #353535;
    border-radius: 12px;
    border: none;
    padding: 12px;
}

input::placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
}

button {
    width: 231px;
    height: 57px;
    align-self: flex-end;
    background: #36CE7C;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
}